@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	min-height: 100vh;

	background: rgb(64, 105, 205);
	background: radial-gradient(
		circle,
		rgba(64, 105, 205, 1) 0%,
		rgba(124, 125, 228, 1) 100%
	);
}
