@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	min-height: 100vh;

	background-color: #4158d0;
	background-image: linear-gradient(
		55deg,
		#4158d0 0%,
		#5070c8 46%,
		#83a7ee 100%
	);
}
